@model ProductsViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">ProductID</th>
            <th scope="col">ProductName</th>
            <th scope="col">SupplierID</th>
            <th scope="col">CategoryID</th>
            <th scope="col">QuantityPerUnity</th>
            <th scope="col">UnitPrice</th>
            <th scope="col">UnitsInStock</th>
            <th scope="col">UnitsOnOrder</th>
            <th scope="col">ReorderLevel</th>
            <th scope="col">Discontinued</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.listaProdotti)
        {
        <tr>
            <th scope="row">@element.Id</th>
            <td>@element.Name</td>
            <td>@element.SupplierId</td>
            <td>@element.CategoryId</td>
            <td>@element.QuantityPerUnit</td>
            <td>@element.UnitPrice</td>
            <td>@element.UnitsInStock</td>
            <td>@element.UnitsOnOrder</td>
            <td>@element.ReorderLevel</td>
            <td>@element.Discontinued</td>
            <td><a asp-controller="Product" asp-action="Delete" asp-route-id="@element.Id"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
        }
    </tbody>
</table>

<nav aria-label="center">
    <ul class="pagination justify-content-center">
        <li class="@(Model.ActualPage == 0 ? "page-item disabled" : "page-item")">
            <a class="page-link" href="?page=@(Model.ActualPage-1)&perPage=@(Model.PerPage)" tabindex="-1">Previous</a>
        </li>

        @foreach (int i in PaginationUtility.PaginationArray(Model.ActualPage, Model.MaxPage))
        {
            if (i == -1)
            {
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
            }
            else
            {
                <li class="@(i == Model.ActualPage ? "page-item active" : "page-item")">
                    <a class="page-link" href="?page=@(i)&perPage=@(Model.PerPage)">@(i + 1)</a>
                </li>
            }

        }

        <li class="@(Model.ActualPage == Model.MaxPage ? "page-item disabled" : "page-item")">
            <a class="page-link" href="?page=@(Model.ActualPage+1)&perPage=@(Model.PerPage)">Next</a>
        </li>

    </ul>
</nav>